<div class='top-heading'>
  <h1 class='task-heading'>User Tasks</h1>
</div>

<table class='task-table'>
  <thead>
    <tr>
      <th>Task ID</th>
      <th>Title</th>
      <th>Completed?</th>
    </tr>
  </thead>
  <% @user.tasks.each do |task| %>
    <tr>
      <td><%= task.external_id %></td>
      <td><%= task.title %></td>
      <td><%= task.completed %></td>
    </tr>
  <% end %>
</table>

<h2 class='table-heading'>View individual tasks (click to view)</h2>

<table class='user-task-table'>
  <tr>
    <% @users.each do |user| %>
        <td><%= link_to "#{user.external_id}", user_tasks_path(id: user.id)  %></td>
    <% end %>
  </tr>
</table>

<div class='home-link-container'>
  <%= link_to "Return Home", root_path, class: 'home-link'%>
</div>